@charset "UTF-8";

@media screen and (min-width:768px) {

    i#burguer{
        display: none;
    }

    menu{
        display: block;
        margin-top: 20px;
        text-align: left;
        
    }

    li{
        display: inline;
      
    }
  main{
     margin-top: 13px;
     width: 768px;
  }
    
}