@charset "UTF-8";

/*Typical Device Breakpoints
---------------------------
Pequenas telas :ate 600px
 celular: de 600px ate 768px
 tablet: 768px ate 992px
 desktop: 992px ate 1200px
 grandes telas: acima de 1200px
  */

  